/* Admin and Install Page */

#install {
    margin-top: 50px;
}

#install .title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#city-info img {
    height: 100px;
    margin-bottom: 5px;
}

/* Header */

#header {
    margin-top: 20px;
    margin-bottom: 20px;
/*    border-top: 1px solid #B0A598;
    border-bottom: 1px solid #B0A598;*/
}

.title {
    font-size: 3em; 
    font-weight: bold;
    vertical-align: middle;
}

.subtitle {
    font-size: 2em; 
    font-weight: bold;
    margin-bottom: 30px;
}

#subheader {
    z-index: 100;
    padding-top: 40px;
    color: black;
}

#subheader .credit {
    padding-top: 0px;
    text-align: right;
}

#subheader .credit .project {
    font-size: 15px;
}

#subheader .credit .tagline {
    font-size: 10px;
}

#logo img {
    height: 100px;
    margin-bottom: 5px;
}

/* Menu */

.wide {
    width: 1200px;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
}

ul.dropdown-menu a {
    text-decoration: none
}

/* Footer */

#footer {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #800080;
    background-color: #8c2e2e;
    background-color: #872c9e;
    color: white;
    font-weight: bold;
    box-shadow: 0px 2px 5px 2px #888888;
}

#footer a {
    color: white;
}

/* Miscellaneous */

body {
    font-size: 16px;
}

h1 {
    font-size:1.5em;
}

h2 {
    font-size:1.3em;
}

.heading {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.bigtext {
    font-size: 1.2em;
}

.smalltext {
    font-size: 0.9em;
}

.spacing40 {
    margin-bottom: 40px;
}

.spacing20 {
    margin-bottom: 20px;
}

.spacing2 {
    margin-bottom: 2px;
}

.blank {
    background: #fff !important;
}

.btn-link {
    padding: 0px;
}

.circle {
    display:inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    color: white;
    text-align: center;
    line-height: 30px;
}

a {
    text-decoration: underline;
    color: #2c729e;
}

a:focus {
    outline: none;
}

.modal.fade {
  top: 20%;
  -webkit-transition: opacity 0.3s linear;
     -moz-transition: opacity 0.3s linear;
       -o-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
}

.modal.fade.in {
  top: 20%;
}

/* Admin Page */

#code-spinner {
    display: none;
}

#code-spinner img {
    height: 50px;
}

#login-spinner {
    display: none;
}

#login-spinner img {
    height: 50px;
}

#code-info {
    margin-top: 10px;
    color: #700;
}

.error {
    color: #700;
    font-weight: bold;
}


.form {
    margin-bottom: 0px;
}

.form td {
    padding-left: 5px;
}


.form input {
    float: left;
    padding-left: 5px;
}

.form label {
    float: left;
    padding-left: 5px;
}

.form p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.form ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.form li {
    clear: both;
}

/* Financial Statements Page */

.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

#financial-spinner {
    display: none;
}

#financial-spinner img {
    height: 50px;
}

.spinner {
    display: none;
}

.spinner img {
    height: 25px;
}

/* Plots */

#yearplot {
    height: 200px;
}

#revenueplot {
    height: 300px;
}

#fundplot {
    height: 200px;
}

#categoryrevenueplot {
    height: 300px;
}

#categoryexpendituresplot {
    height: 300px;
}


/* Tables */

table.budget {
    width: 100%;
    font-size: 0.9em;
}

table.budget tr:nth-child(odd) {
    background: #eee;
}

table.budget tr:first-child {
    background: #afd8f8;
    background: #77a1e5;
    background: #2c729e;
    background: #8c2e2e;
    background: #cccccc;
    color: black;
    background: #666;
    color: white;
}

table.budget tr:last-child {
    background: #e4f3fc;
    background: #a0cae5;
    background: #cccccc;
    background: #666;
    color: white;
}

table.revenue tr:first-child {
    background: #edc240;
    background: #77a1e5;
    background: #f6df9a;
    background: #cccccc;
    background: #666;
    color: white;
}

table.revenue tr:last-child {
    margin-top: 10px;
    background: #f6df9a;
    background: #cccccc;
    background: #666;
    color: white;
}

table.budget th {
    text-align: left;
    padding: 2px 5px;
}

table.budget td {
    padding: 2px 5px;
}

.right {
    text-align: right !important;
}

.category-modal {
    width: 800px;
}
