{% extends "base.html" %}

{% block page %}

<div class="banner2 borders">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>About</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <script src="//storify.com/Daniel_Zappala/why-i-created-citizen-budget.js" type="text/javascript" language="javascript"></script><noscript>[<a href="//storify.com/Daniel_Zappala/why-i-created-citizen-budget" target="_blank">View the story "Why I created Citizen Budget" on Storify</a>]</noscript>

</div>

{% endblock %}
