<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Citizen Budget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  </head>
  <body>
    {% block header %}
    <div id="header-wrap">
      <div class="container">
	<div id="header" class="row-fluid">
	  <div id="logo" class="span12">
	    <a href="/" title="Home"><img src="/static/img/{{ city.logo }}" /></a>
	    <span class="title">{{ city.name }} Budget</span>
	  </div>
	</div>
      </div>
    </div>
    {% endblock %}

    {% block menu %}
    <div class="navbar">
      <div class="navbar-inner">
	<div class="wide">
	  <ul class="nav">
	    <li {% if active == "home" %}class="active"{% endif %}><a href="/">Home</a></li>
	    <li class="dropdown {% if active == 'fund' %}active{% endif %}">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Funds
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu" role="menu">
      		{% for year_fund in year_funds %}
		<li {% if subactive == year_fund.url %}class="active"{% endif %}><a href="/year/{{ year.date }}/{{ year_fund.url }}">{{ year_fund.name|title }}</a></li>
		{% endfor %}
	      </ul>
	    </li>
	  </ul>
	  <ul class="nav pull-right">
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon-user"></i>
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		{% if 'auth' in session %}
		<li><a href="/admin/financials">Financials</a></li>
		<li><a href="/admin/funds">Funds</a></li>
		<li><a href="/admin/users">Users</a></li>
		<li><a href="/admin/logout">Logout</a></li>
		{% else %}
		<li><a href="/admin/login">Login</a></li>
		{% endif %}
	      </ul>
	    </li>
	  </ul>
	</div>
      </div>
    </div>

    {% endblock %}

    <div id="page">
      {% block page %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}
      <div class="container">
	<div class="row-fluid">
	  <div class="span12">
	    <div class="project">Brought to you by <a href="http://citizenbudget.org">Citizen Budget</a>, a project from the <a href="http://osl.byu.edu">BYU Open Source Lab</a>
	  </div>
	</div>
      </div>
      {% endblock %}
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
    {% block login %}
    {% endblock %}
    <script type="text/javascript">
      function ajaxErrorHandler(xhr,text,response) { 
      if (xhr.status == 403) { 
      window.location.href = "/admin/login?callback="+window.location.href;
      } else { 
      window.location.href = "/error";
      }
      };
    </script>

    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script src="/static/js/plot.js"></script>

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-38419970-3', 'cedarhills.org');
ga('send', 'pageview');

    </script>

  </body>
</html>
