{% extends "base.html" %}

{% block page %}

<div class="banner2 borders">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Credits</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3>Daniel Zappala</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
	<img src="/static/img/daniel-zappala.jpg"></img>
      </div>
      <div class="span10">
	<p>Daniel Zappala is a professor
	of <a href="http://cs.byu.edu">Computer Science</a> at
	<a href="http://byu.edu">Brigham Young University</a>.  He is
	the director of the <a href="http://ilab.cs.byu.edu">Internet
	Research Lab</a>, where he leads a team of students conducting
	research on wireless networks, cloud computing, and social
	networking.</p>

	<p>Daniel has a passion for open source software, so he
	  founded the <a href="http://osl.byu.edu">BYU Open Source
	  Lab</a> to mentor students who share this love and want to
	  make a difference in the world. He is an avid genealogist,
	  and in his spare time writes free software.</p>

	<p><a href="//plus.google.com/114449822521576560110?prsrc=3"
   rel="publisher" target="_top" style="text-decoration:none;">
   <img src="//ssl.gstatic.com/images/icons/gplus-32.png"
   alt="Google+" style="border:0;width:32px;height:32px;"/>
</a>Follow me on Google+ to get updates and discuss our work.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
	<h3>Eric Lazalde</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
	<h3>Christopher Morgan</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
	<h3>Dallin Smith</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
