{% extends "base.html" %}

{% block page %}

<div class="banner2 borders center">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Help Fund Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner1 pad20">
  <div class="container project-description padtop">
    <div class="row-fluid">
      <div class="span6">
	<p>Citizen Budget is sponsored by the BYU Open Source Lab.  We
	  rely on generous gifts from community members to support our
	  work. Donations go directly to fund student internships in
	  our lab, as we mentor their work on one of our
	  projects. Contributions made directly to the university are
	  tax deductible.</p>

	<p>If you are interested in donating, please visit
	  the <a title="BYU Giving"
	  href="https://secure3.convio.net/ldsp/site/Donation2?df_id=2800&amp;2800.donation=form1&amp;mboxSession=1286401596280-925611"
	  onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://secure3.convio.net']);"
	  target="_blank">BYU Giving</a> site. Be sure to
	  specify <b>Computer Science Scholarships and Mentorships</b>
	  in the selection area and specify <b>BYU Open Source Lab</b>
	  in the comments area.</p>

	<p>You may also contact Dr. Daniel Zappala, the director of
	  the lab, directly
	  at <span class="email">daniel.zappala@gmail.com</span>.</p>
      </div>
      <div class="span6">
	<img src="/static/img/byu-campus.jpg"></img>
	<p class="caption">Image licensed CC,
	courtesy <a href="http://www.flickr.com/photos/wes_eli/107344011/">Wes
	and Eli</a> on Flickr.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
