{% extends "base.html" %}

{% block page %}
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Financial Statements</h1>
      <span id="financial-info">
	{% include "financials-info.html" %}
      </span>
      <p id="financial-spinner"><img src="/static/img/spinner.gif" /></p>
      <form id="financial-form" method="post">
	<span class="btn btn-success fileinput-button">
	  <input id="statement" type="file" name="statements[]" multiple>
	  Add
	</span>
      </form>
      <p><em>Citizen Budget supports CSV text files exported from Caselle.</em></p>
    </div>
  </div>
</div>

<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/admin.js"></script>

{% endblock %}
