{% extends "base.html" %}

{% block page %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Overview</h1>
      <div id="yearplot"></div>
    </div>
  </div>
  <div id="year-charts">
    {{ charts|safe }}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

<script src="/static/js/plot.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    yearPlot({{ series|safe }});
  });
</script>

{% endblock %}
