{% extends "base.html" %}

{% block header %}
<div id="install" class="container">
  <div class="row-fluid">
    <div class="span12">
      <p class="title">Welcome to Citizen Budget</p>
      <p class="subtitle">Installation for {{ city.name }}</p>
    </div>
  </div>

  </div>
</div>
{% endblock %}

{% block page %}
<div class="container">
  <div class="row-fluid heading">
    <div class="span12">
      <span class="circle">1</span> Administrative users
    </div>
  </div>
  <div class="row-fluid">
    <div class="span11 offset1">
      <span id="user-info">
      {% include "users-info.html" %}
      </span>
    </div>
  </div>
  <div class="row-fluid spacing40">
  </div>
  <div class="row-fluid heading">
    <div class="span12">
      <span class="circle">2</span> Finish
    </div>
  </div>
  <div class="row-fluid heading">
    <div class="span11 offset1">
      <button class="btn btn-primary" onclick="finish()">Finish</button>
    </div>
  </div>
</div>

{% endblock %}

