/*------------------------+
 | Site: Budget Breakdown |
 | Part: Master styles    |
 +------------------------*/

/* Imports
=====================================================================*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif:400,400italic,700,700italic);
@import "../styles/reset.css";


/* Fonts
======================================================================*/
/*#header {
    font-family: Georgia, "Times New Roman", Times, serif;
 }*/

/* Basics
======================================================================*/
a { color: black; text-decoration: none; }
a:hover { text-decoration: underline; color: #f85204}

body {
    background: #EFEED7;
    line-height: 1.5em;
    font-size: 12px;
    font-family: Helvetica,sans-serif;
}

dl, ol, p, ul, table { margin-bottom: 1.5em; }
cite, em { font-style: italic; }
h1 { font-family: serif; font-size: 42px; margin-bottom: 0.3em; line-height: 1.1; }
h1, h2 { color: #2F4168; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
h2 { font-size: 25px; line-height: 1.2; margin-bottom: 0.3em; }
h3 { font-size: 20px; line-height: 1.2; }
hr { background: #e5e6e7; border: 0; clear: both; color: #e5e6e7; height: 1px; margin: 1em 0; }
ol { list-style: decimal; }
ol, ul { margin-left: 2em; }
table { border-collapse: collapse; width: 100% !important; }
td { vertical-align: top; }
sup { font-size: 11px; vertical-align: top; }
ul { list-style: disc; }

/* Stock classes */
.l { float: left; }
.r { float: right; }


/* Core layout
======================================================================*/
.clear { clear: both; }
#page {
    background-color: #EFEED7;
}

/* Content */
#content {
    margin: 0 auto;
    width: 980px; 
  background: #fff;
  -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.33);
  clear: both;
}

#content-primary, #content-secondary, #content-tertiary { padding: 30px 30px 15px }
#content-secondary { background: #e1e9f2; }
#content-tertiary { background: #d3dfed; padding-bottom: 30px; }


/* Content
======================================================================*/

/* Actions */
.action {
  background: #f9dd87;
  background: -moz-linear-gradient(top, #f9dd87 0%, #f4c130 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9dd87), color-stop(100%,#f4c130));
  background: -webkit-linear-gradient(top, #f9dd87 0%,#f4c130 100%);
  background: -o-linear-gradient(top, #f9dd87 0%,#f4c130 100%);
  background: -ms-linear-gradient(top, #f9dd87 0%,#f4c130 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9dd87', endColorstr='#f4c130',GradientType=0 );
  background: linear-gradient(top, #f9dd87 0%,#f4c130 100%);
  border: 1px solid #b2b2b2;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	color: #653733;
	display: inline-block;
	font-size: 21px;
	font-weight: bold;
	padding: 0.3em 0.7em 0.2em;
	white-space: nowrap;
}

/* Breakdown table */
#breakdown a { cursor: pointer; }
#breakdown .num { text-align: right; }
#breakdown td, #breakdown th { border: 1px solid #ddd; font-size: 14px; padding: 0.5em 76px; }
#breakdown th { background: #2F4168; font-size: 12px; font-weight: bold; text-align: center; }
#breakdown th.charts { width: 50%; }
#breakdown th.controls { width: 20px; }
#breakdown th span { color: #ffffff; cursor: pointer; font-size: 20px}

#breakdown th.sorting_asc span {
  background: url(../images/sort-up.png) no-repeat 100% 50%;
  padding-right: 10px;
}

#breakdown th.sorting_desc span {
  background: url(../images/sort-down.png) no-repeat 100% 50%;
  padding-right: 10px;
}

/* Revenue Breakdown Table */
#revenue-breakdown-table a { cursor: pointer; }
#revenue-breakdown-table .numR { text-align: center; }
#revenue-breakdown-table td, #revenue-breakdown-table th { border: 1px solid #ddd; font-size: 14px; padding: 0.5em 17px; }
#revenue-breakdown-table th { background: #2F4168; font-size: 12px; font-weight: bold; text-align: center; }
#revenue-breakdown-table th.charts { width: 50%; }
#revenue-breakdown-table th.controls { width: 20px; }
#revenue-breakdown-table th span { color: #ffffff; cursor: pointer; font-size: 15px}
#revenue-breakdown {display: none}

#revenue-breakdown-table th.sorting_asc span {
  background: url(../images/sort-up.png) no-repeat 100% 50%;
  padding-right: 10px;
}

#revenue-breakdown-table th.sorting_desc span {
  background: url(../images/sort-down.png) no-repeat 100% 50%;
  padding-right: 10px;
}

/* Expenditure Breakdown Table */
#expenditure-breakdown-table a { cursor: pointer; }
#expenditure-breakdown-table .numE { text-align: center; }
#expenditure-breakdown-table td, #expenditure-breakdown-table th { border: 1px solid #ddd; font-size: 14px; padding: 0.5em 18px; }
#expenditure-breakdown-table th { background: #2F4168; font-size: 12px; font-weight: bold; text-align: center; }
#expenditure-breakdown-table th.charts { width: 50%; }
#expenditure-breakdown-table th.controls { width: 20px; }
#expenditure-breakdown-table th span { color: #ffffff; cursor: pointer; font-size: 15px}
#expenditure-breakdown {display: none}

#expenditure-breakdown-table th.sorting_asc span {
  background: url(../images/sort-up.png) no-repeat 100% 50%;
  padding-right: 10px;
}

#expenditure-breakdown-table th.sorting_desc span {
  background: url(../images/sort-down.png) no-repeat 100% 50%;
  padding-right: 10px;
}

/* Net Revenue Table */
#net-revenue-table a { cursor: pointer; }
#net-revenue-table .net { text-align: center; }
#net-revenue-table td, #net-revenue-table th { font-size: 14px; padding: 0.8em 60px; border: 1px solid #ddd;; text-align: left; }
#net-revenue-table th { background: #2F4168; font-size: 12px; font-weight: bold; }
#net-revenue-table th.charts { width: 50%; }
#net-revenue-table th.controls { width: 20px; }
#net-revenue-table th span { color: #ffffff; cursor: pointer; font-size: 20px}

  
  /* Colors */
  .budgeted { color: #2F4168; }
  .spent { color: #493000; }
  .bars .budgeted { background: #264870; border-color: #2F4168; }
  .bars .spent { background: #7C6954; border-color: #493000; }
  
  /* Expanded rows */
  #breakdown .expanded-content td {
    border-bottom: 2px solid #7f7f7f;
    border-top: 0;
    padding-top: 20px;
  }
  
  #breakdown .expanded-head td {
    border-top: 2px solid #7f7f7f;
    font-weight: bold;
  }
  
  #fund-notes-div { padding: 10px; border: 5px solid #493000; overflow: hidden; }
  #fund-notes-header { text-align: center; color: #2F4168 }
  
  /* #revenue { padding: 10px; border: 5px solid #264870; overflow: hidden; } */
  #revenue { padding: 10px; border: 5px solid #493000; overflow: hidden; }
  #revenue-pie { width: 49%; vertical-align: middle; display: inline-block;}
  #revenue-breakdown { width: 50%; vertical-align: middle; display: inline-block;}
  
  #expenditure { padding: 10px; border: 5px solid #493000; overflow: hidden; }
  #expenditure-pie { width: 49%; vertical-align: middle; display: inline-block;}
  #expenditure-breakdown { width: 50%; vertical-align: middle; display: inline-block;}
  
  #net-revenue { padding: 10px; border: 5px solid #493000; overflow: hidden; }
  
  .expanded-primary { float: left; width: 48%; }
  .expanded-secondary { float: right; width: 48%; }
  
  /* Nav */
  #breakdown-nav { margin-top: -1px; }
  #breakdown-nav a { display: block; padding: 0.4em 1em 0.3em; }
  #breakdown-nav li { float: left; }
  #breakdown-nav li.current { background: #2F4168; color: #fff; padding: 0.4em 1em 0.3em; }
  #breakdown-nav ul { list-style: none; margin: 0; }
  
  /* Scorecard */
  #scorecard { border-top: 12px solid #2F4168; border-bottom: 5px solid #493000; margin: 0; text-align: center;}
  #scorecard h2 { font-size: 20px; }
  #scorecard h2, #scorecard p { margin: 0; }
  #scorecard h3 {font-size: 15px;}
  #scorecard td { border: 1px solid #ddd; border-bottom: 0; padding: 0.8em 10px; width: 25%; }
  #scorecard td#scorecard-desc { width: 50%; }
  /*#scorecard p {font-weight: Bold; font-size: larger;}*/
  .scorecard-numbers {text-align: center;}
  
  /* Stats */
  .stats { list-style: none; margin: 0 0 0.5em 0; }
  .stats li { display: inline; margin-right: 1em; white-space: nowrap; }
  .stats strong { font-size: 25px; }

/*----------------------------------------------------------------------*/
/* Pie Charts */
.pieChart {width: 420px; height: 420px;}
/* End Pie Charts */


/* FAQ */
#faq { list-style: none; margin-left: 0; }

/* Footer */
/*#footer { color: #7c8a9b; font-size: 12px; padding: 15px 0 0; }
#footer a { color: #fff; }*/

#footer { color: #b7c6d6; font-size: 0px; padding-bottom: 0px; position: relative; }
#footer a { color: #fff; position: relative; margin-left: -184px}

  /* Sharing links */
  .share { list-style: none; margin: 0; }
  .share img { float: left; margin-right: 5px; }
  .share li { float: left; font-size: 11px; line-height: 1.1; width: 155px; }
  .share strong { display: block; font-size: 20px; }

/* Footnotes */
#footnotes { color: #777; font-size: 13px; }
#footnotes li { display: none; }
#footnotes ul { list-style: none; margin: 0; }

/* Header */
/*#header { color: #b7c6d6; font-size: 13px; padding-bottom: 30px; position: relative; }
#header a { color: #fff; }
#header-secondary { float: right; font-style: italic; padding-top: 23px; text-align: right; }
#header-secondary p { margin: 0; }*/

/* Totals Bold */
#revenue-ytdactual-total { font-weight: bold; border-top: 7px solid #493000; background: #D3DFED; }
#revenue-budgeted-total { font-weight: bold; background: #D3DFED; }
#expenditure-ytdactual-total { font-weight: bold; background: #D3DFED; }
#expenditure-budgeted-total { font-weight: bold; background: #D3DFED; }
#total { font-weight: bold ; background: #D3DFED; color: #2F4168; }
#net-difference-total{ font-weight: bold; background: #D3DFED; }

#header {
    height: 110px;
    width: 100%;
    background: url(http://www.cedarhills.org/themes/cedar_hills/images/header-bg.png) repeat-x center 0;
    background-position: center 10px;
    color: #FFF;
    
}

#header .border {
}

#header .border {
    top: 20px;
    position: absolute;
    height: 68px;
    left: 11px;
    right: 11px;
    border: 1px solid #B0A598;
}

#header .border > .content {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

#title {
    font-size: 40px; 
    font-weight: bold;
    float: left;
    color: white;
    margin-top: 25px;
    margin-left: 150px;
}

#subheader {
    z-index: 100;
    padding-top: 18px;
    color: white;
}

#subheader .credit {
    float: right;
    padding-top: 0px;
    text-align: right;
}

#subheader .credit .project {
    font-size: 15px;
}

#subheader .credit .tagline {
    font-size: 10px;
}
  
/* Logo */
#logo {
    position: absolute;
    width: 120px;
    height: 130px;
    top: -20px;
    left: 0px;
}
#logo-logo {float: left; margin: 0px 0px 0px 194px;}
#logo-print { display: none; }

/* Icons */
a[class*="icon"] {
  background-repeat: no-repeat;
  background-position: 0 0.1em;
  padding: 3px 0 3px 22px;
}

.icon-facebook { background-image: url(../images/facebook-sm.png); }
.icon-twitter { background-image: url(../images/twitter-sm.png); }

/* Muted text */
.mute { color: #777; font-size: 13px; }

/* Tertiary content */
#content-tertiary .action { margin-right: 10px; }

/* Timelines */
#readme { display: none; left: -75px; position: absolute; top: 110px; }
#timeline { position: relative; }
#timeline-chart { height: 350px; }

/* Sparklines */
.sparkline { height: 100px; margin-bottom: 15px; }

/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color: #000;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background: #EFEED7; border:4px solid #493000; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#EFEED7; border-left:3px solid #493000; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/closex.png) no-repeat; width:54px; height:20px; display:inline; z-index:3200; position:absolute; top:4px; right: 4px; cursor:pointer;}
#simplemodal-container h3, #simplemodal-container h5 {color:#000000;}

/* Modal Table */
#modal-table .modal { text-align: center; font-size: 16px; padding: 0.8em 100px; }
#modal-table td, #modal-table th { padding: 0.4em 30px; color: #000000}
#modal-table td { font-size: 16px; }
#modal-table th { background: #EFEED7; font-size: 13px; font-weight: bold; text-align: left; }

  
  
  